*{
    border: 2px solid red;
}

body{
    background-image: url("estilos/capa.jpg") ;
    background-repeat: no-repeat;
    background-size: cover
}
div, footer, h1, h2, h3{
    background-color: aliceblue;
}

header{
    background-color: rgb(35, 39, 43);
}

header img{
    width: 50%;
    height: 150px;
}

header nav a{
    color: rgb(255, 255, 255);
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5px;
    align-items: center;
    text-decoration: none;
}
header nav a:hover{
    color: rgb(255, 11, 11);
    background-color: rgb(255, 255, 255);
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5px;
    align-items: center;
    text-decoration: none;
}

.campeonato{
    height: 130px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    background-color: rgb(35, 39, 43); 
}

.campeonato h2{
    margin-left: 16%;
    background-color: rgb(35, 39, 43); 
}

.campeonato a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.campeonato a:hover{
    color: rgb(245, 0, 0);
    background-color: rgb(240, 240, 240); 
}

.principal{
    margin-top: 16px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.principal form *{
    margin-top: 16px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.principal form input[type=text]{
    width: 80%;
    border-radius: 15px;
}
.principal form input[type=text]:focus{
    width: 80%;
    border: solid red 2px;
}

.principal form input[type=email]{
    width: 80%;
    border-radius: 15px;
}
.principal form input[type=email]:focus{
    width: 80%;
    border: solid red 2px;
}

.principal form input[type=password]{
    width: 80%;
    border-radius: 15px;
}
.principal form input[type=password]:focus{
    width: 80%;
    border: solid red 2px;
}

.principal form input[type=tel]{
    width: 20%;
    border-radius: 15px;
}
.principal form input[type=tel]:focus{
    width: 20%;
    border: solid red 2px;
}

.principal form select{
    width: 20%;
    border-radius: 15px;
}

.banner{
    margin-left: 10px;
    height: 100px;
    width: 1000px;
    align-self: auto;
}

.mini-banner{
    width: 15%;
    height: 100%;
    float: left;
}

footer {
    height: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgb(35, 39, 43); 
    text-align: center;
  }