*{
    border: 2px solid red;
}

header {
    padding: auto;
    padding: 5px;
    padding-left: 5px;
    width: 75%;
    align-self: center;
    align-items: center;
    background-color: rgb(0, 113, 219);
    color:aqua
}

header nav a{
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5px;
}

body{
    background-image: url("estilos/capa.jpg") ;
    background-repeat: no-repeat;
    background-size: cover
}

div, footer, h1, h2, h3{
    background-color: aliceblue;
}